<form>
    <div class="input-group">
        <label for="initial-investment">INITIAL INVESTMENT</label>
        <input [value]="initialInvestment()" id="initial-investment" type="number" placeholder="0.00" min="0"/>
    </div>
    <div class="input-group">
        <label for="annual-investment">ANNUAL INVESTMENT</label>
        <input [value]="annualInvestment()" id="annual-investment" type="number" placeholder="0.00" min="0"/>
    </div>
    <div class="input-group">
        <label for="expected-return">EXPECTED RETURN</label>
        <input [value]="expectedReturn()" id="expected-return" type="number" placeholder="0.00" min="0"/>
    </div>
    <div class="input-group">
        <label for="duration">DURATION</label>
        <input [value]="duration()" id="duration" type="number" placeholder="0" min="0"/>
    </div>
    <button type="submit" (click)="onCalculate()">Calculate</button>
</form>
